.movie-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .poster {
    height: 300px;
    margin-right: 30px;
  }
  .meta-details-wrapper {
    width: 100%;
  }

  .title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .title {
    margin-top: 0px;
  }
}
