.home-page {
  background-color: #e4e8ef;
  padding-bottom: 40px;

  .carousel-wrapper {
    margin-bottom: 40px;
  }

  .genra-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
