$logowrapper-height: 45px;
$search-wrapper-height: 30px;

.top-navbar {
  background: #fff;
  border-bottom: 1px solid #e4e8ef;
  z-index: 1020;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 100%;
  position: fixed;
  top: 0;

  .logo-wrapper {
    height: $logowrapper-height;
    display: flex;
    align-items: flex-start;

    .logo-icon {
      height: $logowrapper-height;
    }

    .logo-text {
      height: $logowrapper-height;
    }
  }

  .search-wrapper {
    min-width: 300px;
  }
}
